<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Libro de visitas</title>
    <script>
        function showError(msg) {
            const dvError = document.getElementById("dvError");

            dvError.innerHTML = msg;
            dvError.style.display = "block";
        }

        function chk()
        {
            const edName = document.getElementById("edName");
            const edSaludo = document.getElementById("edSaludo");
            const dvError = document.getElementById("dvError");

            dvError.style.display = "none";

            if(edName.value.trim().length === 0){
                showError("Se requiere un nombre.");
                toret = false;
            }

            if(edSaludo.value.trim().length === 0){
                showError("Se requiere un saludo.");
                toret = false;
            }
        }
    </script>
</head>
<body>
    <p>Hoy es: {{ fecha.date() }}</p>
    <h1>Libro de visitas</h1>
    <h2>Saludos de los fans:</h2>
    <p>
        {%if saludos and saludos.count() > 0 %}
            <table>
            {% for saludo in saludos %}
                <tr>
                    <td>{{saludo.fecha.date()}}</td>
                    <td>{{saludo.nombre}}</td>
                    <td>{{saludo.texto}}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            Por ahora no hay saludos.
        {% endif %}
    </p>
    <h2>Déjame un saludo!</h2>
    <p>
        <form id="frmSaludo" onsubmit="javascript: return chk()"
              method="POST" action="/">
            <input type="text" name="name"
                   id="edName" placeholder="tu nombre..."/>
            <input type="text" name="saludo"
                   id="edSaludo" placeholder="tu saludo..."/>
            <input type="submit" id="btSend"/>
        </form>
    </p>
    <div>
        <form id="login" onsubmit="javascript: return chk()"
              method="POST" action="/">
            <input type="text" name="user"
                   id="edUser" placeholder="Insert your user"/><br>
            <input type="password" name="password"
                   id="edPassword" placeholder="Insert your password"/>
            <br>
            <input type="submit" id="btLogin"/>
        </form>
    </div>
    <div id="dvError">

    </div>
</body>
</html>