{% extends "skeleton.html" %}
{% block content %}
		<div class="login-clean">
			<form action="/main" onsubmit="javascript: return chk()" method="post">
				<h2 class="sr-only">Login Form</h2>
				<div class="illustration">
					<i class="" aria-hidden="true"><img class="login-icon" src="/src/icono.png" alt="Crunch"/></i>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="username" placeholder="Username" />
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="passwd" placeholder="Password" />
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block" type="submit">Logg In</button>
				</div>
				<a class="forgot" href="/register">Not user yet? Register now</a>
			</form>
		</div>
{% endblock %}