{% extends "skeleton.html" %}
{% block content %}
		<div class="login-clean">
			<form action="" method="post">
				<h2 class="sr-only">Register Form</h2>
				<div class="illustration">
					<i class="" aria-hidden="true"><img class="login-icon" src="/src/icono.png" alt="Crunch"/></i>
				</div>
				<div class="form-group">
					Username: <input class="form-control" type="text" name="username" placeholder="Username" />
				</div>
                <div class="form-group">
					Name: <input class="form-control" type="text" name="name" placeholder="Name" />
				</div>
                <div class="form-group">
					Surname: <input class="form-control" type="text" name="surname" placeholder="Surname" />
				</div>
                <div class="form-group">
					Email: <input class="form-control" type="email" name="email" placeholder="Email" />
				</div>
                <div class="form-group">
					Birthdate: <input class="form-control" type="date" name="birthdate" placeholder="Birthdate" />
				</div>
                <div class="form-group">
					Password: <input class="form-control" type="password" name="passwd" placeholder="Password" />
				</div>
                <div class="form-group">
					Repeat Password: <input class="form-control" type="password" name="Rpasswd" placeholder="Rpassword" />
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block" type="submit">Check In</button>
				</div>
			</form>
		</div>
{% endblock %}
