<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register in Crunch</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/css/styles.css"/><title>Login on Crunch</title>
</head>
<body>
    <div>
		<nav class="navbar navbar-default navigation-clean-search">
			<div class="navbar-header">
				<a class="navbar-brand">Crunch</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Desplegar navegación</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li role="presentation"><a href="">Contact</a></li>
					<li role="presentation"><a>Language: English</a></li>
				</ul>
				<a class="btn btn-default navbar-btn navbar-rigth action-button"
					role="button" href="/templates/index.html">Start</a>
			</div>

		</nav>
	</div>

    <main>

		<div class="login-clean">
			<form action="" method="post">
				<h2 class="sr-only">Login Form</h2>
				<div class="illustration">
					<i class="" aria-hidden="true"><img class="login-icon" src="/src/icono.png" alt="Crunch"/></i>
				</div>
				<div class="form-group">
					Username: <input class="form-control" type="text" name="username" placeholder="Username" />
				</div>
                <div class="form-group">
					Name: <input class="form-control" type="text" name="name" placeholder="Name" />
				</div>
                <div class="form-group">
					Surname: <input class="form-control" type="text" name="surname" placeholder="Surname" />
				</div>
                <div class="form-group">
					Email: <input class="form-control" type="email" name="email" placeholder="Email" />
				</div>
                <div class="form-group">
					Birthdate: <input class="form-control" type="date" name="birthdate" placeholder="Birthdate" />
				</div>
                <div class="form-group">
					Password: <input class="form-control" type="password" name="passwd" placeholder="Password" />
				</div>
                <div class="form-group">
					Repeat Password: <input class="form-control" type="password" name="Rpasswd" placeholder="Rpassword" />
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block" type="submit">Check In</button>
				</div>
			</form>
		</div>

	</main>

	<footer> </footer>

</body>
</html>