{% extends "skeleton2.html" %}
{% block content %}
<div>
	<h1 id="bigger-size" class="stroke">Creaks you like</h1>
	<br>
</div>

<form action="" method="post">
    <div id="center-view" class="center-block col-md-6 col-sm-8 item">
        <div class="exercise-tables-background center-block">
        <h4>@{{username}}</h4><br>
            <div class="exercise-tables-background center-block">
                <div class="col-md-4 col-sm-2 item">
                    <a href="/creak/showcreak?id={{id}}">Creaks</a><br>{{creaks}}
                </div>
                <div class="col-md-4 col-sm-2 item">
                    <a href="/followandfollowers/showfollows?id={{id}}">Follow</a><br>{{follow}}
                </div>
                <div class="col-md-4 col-sm-2 item">
                    <a href="/followandfollowers/showfollowers?id={{id}}">Followers</a><br>{{followers}}
                </div><br>
            </div>

            <br>

            {% for creak in liked_creaks %}
            <div class="exercise-tables-background center-block" style="background-color: powderblue">
                <p style="text-align: left; color: black;font-size: 14px">{{name}}&nbsp;{{surname}}&nbsp;&nbsp;<i style="color: #7d8285;font-size: 13px">@{{creak.user}}</i></p>
                <div style="text-align: left; color: black; font-size: 16px; white-space: pre; padding-left: 15px">{{creak.creak}}</div>
                <p style="text-align: center; color: black; font-size: 16px"><a href="/creak/deletelikecreak?id={{id}}&idcreak={{creak.key.urlsafe()}}"><i class="fas fa-heart" style="color: red"></i></a></p>

            </div>
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}