<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/css/styles.css"/><title>Login on Crunch</title>
	<script>
		function noback(){
		   window.location.hash="no-back-button";
		   window.location.hash="Again-No-back-button"
		   window.onhashchange=function(){window.location.hash="no-back-button";}
		}
	</script>
</head>
<body onload="noback();">
	<div>
		<nav class="navbar navbar-default navigation-clean-search">
			<div class="navbar-header">
				<a class="navbar-brand">Crunch</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Desplegar navegación</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li role="presentation"><a href=""></a></li>
					<li role="presentation"><a>Language: English</a></li>
				</ul>
				<a class="btn btn-default navbar-btn navbar-rigth action-button"
					role="button" href="/">Start</a>
			</div>

		</nav>
	</div>

    <main>
        <div id="dvContents">
            {% block content %}
            {% endblock %}
        </div>

    </main>

</body>
</html>